$xs: 480;
$sm: 769;
$md: 990;
$xl: 1201;
$xxl: 1400;

$white: #fff;
$black: #000;
$primary: #000642;
$secondary: #ff7a20;
$primaryAlt: #200f46;

$primaryfont: 'Chakra Petch', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;